/* start */
* {
	margin: 0;
	padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}
html,body {
	margin:0;
	padding:0;
	overflow-x:hidden;
	min-height: 100%;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
	}
body {
	width: 100%;
	overflow: scroll;
	overflow-x: hidden;
	background-color: #f4f2e9;
	/* background-color: rgb(248, 244, 244); */
	margin: auto;
    min-height: 100vh;
    min-width: 100%;
	max-width: 500%;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-family: 'Inter', sans-serif;
}
/* Poppins, Inter */
@media (min-width: 1240px) {
	.container {
		max-width: 1290px !important;
		margin: auto !important;
		height: 100%;
	}
}
.container {
	width: 100%;
}

/* start */


/* navigation part */
.navbar {
	background-color: #FAFAFA;
	width: 100%;
	border-bottom: 1px solid grey;
	position: fixed;

}
.navb {
	padding: 15px;
	align-items: center;
	/* width: 80%; */
	margin: auto;
	display: flex;
	justify-content: space-between;

}
.navl{
    display: flex;
    text-decoration: none;
}
.navl > ul {
	display: flex !important;
	align-items: center;
}
.navl > ul > li > a {
	list-style: none;
	font-size: 17px;
	/* padding: 15px; */
	margin-right: 80px;
	text-decoration: none;
	color: black;
	justify-content:space-between;
	/* margin-left: -120px; */

}
.navl > ul > li {
	list-style: none;
}
.navl > ul > li > a:hover {
	color: #0F298B;
	font-weight: 600;
}
.navl ul > li > .visited-link:visited {
	color: #0F298B;
	font-weight: 700;
}
.logo > h1 {
	font-family: "Oleo Script", cursive;
	margin-right: -1020px;
	margin-left: 40px;
}

